[submodule "qrcodejs"]
	path = qrcodejs
	url = https://github.com/davidshimjs/qrcodejs
[submodule "floppaplate"]
	path = floppaplate
	url = https://github.com/gosher-studios/floppaplate
[submodule "design"]
	path = design
	url = https://github.com/gosher-studios/design
