{% extends "base.html" %}
{% block content %}
 <div id="drop_zone"  class = "h-40 cursor-pointer p-2" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);">
<input type="file" id="file" class="hidden">
        <div class="h-full w-full flex justify-center items-center p-2 border-white border-2">
            <label for="file" class="underline text-4xl text-display"><img class=" h-20 w-full" src="/static/download.svg" /></label>
        </div>

  </div>
        <div class="rounded-sm bg-fg h-full w-full p-4">
         </div>


<script>     
function dragOverHandler(ev) {
  ev.preventDefault();
}

function dropHandler(ev) {

    ev.preventDefault();
}
</script>
{% endblock %}
