{% extends "base.html" %} {% block content %}
<label for="file" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);" class="block p-4 text-4xl bg-fg rounded-md text-accent cursor-pointer text-center"><i class="fa-solid fa-file-arrow-up"></i> Select File(s)</label>
<div class="bg-fg p-4 rounded-md text-accent">
  <div class="hidden sm:block">
    <p class="text-white"># Upload files with curl:</p>
    <p>$ curl -T (file) {{url}}</p>
  </div>
  <p class="text-white"># Uploaded files:</p>
  <div id="list" class="text-base"></div>
<input id="file" type="file" class="hidden" multiple onchange="uploadHandler(event);"/>
<dialog id="dialog"> 
 <div> </div>
</dialog>
<div>
    <p class="text-white"># Info:</p>
    <p><i class="fa-solid fa-file"></i> {{max}} max file size</p>
    <p><i class="fa-solid fa-database"></i> {{total}} files uploaded</p>
    <p><i class="fa-solid fa-circle-info"></i> By uploading, you agree to the <a class="underline" href="{{url}}/static/tos.html"> TOS </a> </p>

</div>
<dialog>
  <button autofocus>qr code </button> </dialog>
<script>
  const dialogEl = document.getElementById("dialog");

  async function dropHandler(e) {
    e.preventDefault();
    let arr = [...e.dataTransfer.items];
    upload(arr.filter((item) => item.kind == "file").map((item) => item.getAsFile()));
    };

  function dragOverHandler(e) {
    e.preventDefault()
  }

  function uploadHandler(e) {
    upload(Array.from(e.target.files));
  }
function qr(data) {
    fetch(String("{{url}}/qr/" + data)).then((response) => response.text())
      .then((svg) => {
        const parser = new DOMParser();
        const qrdoc = parser.parseFromString(svg, 'image/svg+xml');
        const qr = qrdoc.documentElement;
        qr.onclick = () => dialogEl.close();
        dialogEl.children[0].replaceWith(qr)
      }).catch((err) => {
        console.error('fuck you', err);
        return "static/download.svg";
      });
  };
  async function upload(files) {
    for (let i = 0; i < files.length; i++) {
      let file = files[i];

      let log = document.createElement("div");
      log.innerText = `Uploading ${file.name}`;
      document.getElementById("list").appendChild(log);

      let res = await fetch(file.name, {
        method: 'PUT',
        body: file,
        headers: {
          'Content-Type': 'text/plain'
        }
      });
      if (res.status == 200) {        
        let url = await res.text();

        let el = document.createElement("div")
        el.onclick = () => {
           navigator.clipboard.writeText(`{{url}}/${url}`);
           temp = el.innerText;
           el.innerText = "copied to clipboard";
           setTimeout(() => {el.innerText = temp},1000);
        }
        el.innerText = url.substring( 9 , 26) 
        el.className = "cursor-pointer flex flex-row select-none "
        log.replaceWith(el)

        let show = document.createElement("div")
         show.innerText = "generate qr"
        show.className = "px-6"
         show.onclick = () => {
            dialogEl.show();
            qr(url)
         }
         el.appendChild(show)
      } else {
        log.innerHTML = `<img src="https://http.cat/${res.status}"/>`;
      }
    }
  }
</script>
{% endblock %}
