{% extends "base.html" %} {% block content %}
<div class="text-justify text-sm md:text-base leading-5 space-y-1">
  <h1 class="font-bold text-white text-xl md:text-3xl"># Terms of Service/Privacy Policy</h1>
  <p>
    We are committed to protecting your privacy and ensuring that your personal data is handled in a
    secure and responsible manner. This privacy policy outlines the types of personal data we
    collect, how we use it, and the steps we take to ensure its security.
  </p>
  <h2 class="font-bold text-white text-lg md:text-xl">## Data we collect</h2>
  <p>
    When you upload a file, we store the uploaded file and the IP address from which the file was
    uploaded. This data is kept securely on our servers and not shared with any third-parties. IP
    logs are only accessed in event of data removal.
  </p>
  <h2 class="font-bold text-white text-lg md:text-xl">## How you can use Floppa Files</h2>
  <p>
    You must not upload any harmful content, including pornography, gore, and content intended to
    damage the service. This list is non-exhaustive and ultimately decided at our jurisdiction.
  </p>
  <h2 class="font-bold text-white text-lg md:text-xl">## Content</h2>
  <p>
    If you wish to delete your own files from the service or any content you believe is abusive,
    please contact
    <a class="text-grey underline" href="mailto:georgiytnimov@gmail.com"
      >"georgiytnimov@gmail.com"</a
    >
    with the title "Floppa Files Data Removal"/"Floppa Files Abuse Report".
  </p>
  <p class="text-sm text-grey">This policy was last updated 28/01/2024.</p>
</div>
{% endblock %}
